@import url("https://fonts.googleapis.com/css2?&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?&family=Jersey+25display=swap");
@import url("https://fonts.googleapis.com/css2?&family=Jersey+10&display=swap");

:root {
  --bg-color: #111;
  --screen-bg: #0a0a0a;
  --font-main: "VT323", monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: var(--font-main);
}

#arcade-cabinet {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--screen-bg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  width: 100%;
  height: 100%;
  display: block;
  image-rendering: pixelated;
  z-index: 1;
  opacity: 0;
}
